name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
    - name: Build
      run: go mod init simple-goserver
      
    - name: Git Clone
      run: git clone https://github.com/themuthiah/simple-go-server.git
      
    - name: build application
      run: make docker-build
      
    - name: Run script file
      run: |
           docker login -u muthiah123456789 -p 1thegreat@ELANGOVAN
           docker images ls
           docker tag docker.io/muthiah123456789/simple-go-server:latest muthiah123456789/simple-go-server
           docker push muthiah123456789/simple-go-server
      shell: bash
  deploy:
    runs-on: ubuntu-latest
    name: build example and deploy to minikube
    steps:
    - uses: actions/checkout@v2  
    - name: Start minikube
      uses: medyagh/setup-minikube@master
    - name: Try the cluster !
      run: kubectl get pods -A
    - name: Git Clone
      run: git clone https://github.com/themuthiah/simple-go-server.git
    - name: Build image
      run: |
        export SHELL=/bin/bash
        eval $(minikube -p minikube docker-env)
        docker build -f ./Dockerfile -t muthiah123456789/simple-go-server .
        echo -n "verifying images:"
        docker images        
    - name: Deploy to minikube
      run:
        kubectl apply -f minikube.yml
    - name: Test service URLs
      run: |
        minikube service list
        minikube service example --url
        echo "------------------opening the service------------------"
        curl $(minikube service example --url) 
    
#     - name: Docker push
#       run: make docker-push
      
#     - name: Login to DockerHub
#       uses: docker/login-action@v1
#       with:
#         username: ${{ secrets.DOCKERHUB_USERNAME }}
#         password: ${{ secrets.DOCKERHUB_TOKEN }}
        
#     - name: Build and push image
#       uses: docker/build-push-action@v2
#       with:
#         username: ${{ secrets.DOCKERHUB_USERNAME }}
#         password: ${{ secrets.DOCKERHUB_TOKEN }}
#         repository: muthiah123456789/goapp
#         context: ./rootfs
#         push: true
#         tags: goserver:latest
#         uild-args: COMMIT=${{ needs.setup.outputs.commit }}
