name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
    - name: Build
      run: go mod init simple-goserver
      
    - name: Git Clone
      run: git clone https://github.com/themuthiah/simple-go-server.git
      
    - name: build application
      run: make docker-build
      
    - name: Docker push
      run: make docker-push
      
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
#     - name: Build and push image
#       uses: docker/build-push-action@v2
#       with:
#         username: ${{ secrets.DOCKERHUB_USERNAME }}
#         password: ${{ secrets.DOCKERHUB_TOKEN }}
#         repository: muthiah123456789/goapp
#         context: ./rootfs
#         push: false
#         tags: goserver:latest
#         uild-args: COMMIT=${{ needs.setup.outputs.commit }}
