name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

#     - name: Set up Go
#       uses: actions/setup-go@v3
#       with:
#         go-version: 1.18
#         check-latest: true
#         cache: true
#     - run: go run ${{ github.workspace }}/main.gp
#     - name: Build
#       run: go build ${{ github.workspace }}/main.go

#     - name: Test
#       run: go test ${{ github.workspace }}/main.go
#     - name: Git Clone Action
#       uses: sudosubin/git-clone-action@v1
#       with:
#         repository: 'themuthiah/simple-goserver'
#         platform: 'github'
    - name: Git Clone
      run: git clone https://github.com/themuthiah/simple-go-server.git
    - name: build application
      run: make docker-build
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push image
      uses: docker/build-push-action@v2
      with:
        context: ./rootfs
        push: true
        tags: goserver:latest
        uild-args: COMMIT=${{ needs.setup.outputs.commit }}
